<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	<title>Banner Templates</title>	

	<link rel="stylesheet" href="css/main.css" />
	<script src="http://localhost:35729/livereload.js"></script>
</head>

<body>
	
	<div class="main">
		{% block body %}{{ contents | safe }}{% endblock %}
	</div>
	
	<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="../assets/js/script.min.js"></script>
</body>
</html>
